header, aside, nav, section, footer {
    display: block;
}

/*to give body 0 margin*/
body {
    margin: 0;
}

/*css for hyperlink*/
a {
    color: white;
    text-decoration: none;
}

/*for font sizes*/
h1 {
    font-size: 2em;
}

section p {
    font-size: 23px;
}

ul > li {
    font-size: 20px;
}

/*for line spacing*/
div#main h1, p {
    margin: 0.2em;
}

/*for font families*/
section h1, h3, nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*for main background and font family*/
#main {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top: 1px solid black;
    font-family: serif, 'Times New Roman', Times;
}

/*for the description and more information*/
.info {
    height: auto;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.75);
    overflow: auto;
}

/*css for description*/
.desc {
    width: 75%;
    display: inline-block;
    text-align: justify;
    overflow: auto;
}

/*css for references*/
.reference {
    color: white;
    background-color: rgba(33, 75, 133, 1);
    padding: 20px;
    border-top: 2px solid black;
    position: relative;
    text-align: justify;
    overflow: auto;
    float:none;
    clear: both;
}

.reference h1 {
    font-size: 20px;
}

.reference p {
    font-size: 12px;
}

/*to underline the links*/
.link {
    text-decoration: underline;
}

/*css for header*/
header {
    padding: 10px;
    border-top: 2px solid black;
    border-bottom: 1px solid black;
    background-color: rgba(4, 87, 147, 0.9);
}

header > h1 {
    display: inline;
    font-size: 20px;
}

/* css for the navigation*/
.navButton {
    background-color: rgba(4, 87, 147, 0);
    color: white;
    margin: 3px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    top: 50%;
}

nav {
    float: right;
    position: relative;
}
  
.navContent {
    display: none;
    position: absolute;
    right: 0;
    background-color: rgba(4, 87, 147, 1);
    min-width: 175px;
    z-index: 1;
}
  
.navContent a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.navContent a:hover {
    background-color: rgba(134, 134, 134, 0.5);
}

nav:hover .navContent {
    display: block;
}

/*to center the rows*/
section {
    text-align: center;
}