/*css for body*/
body {
    background-color: rgba(141, 184, 210, 1);
    font-family: serif, 'Times New Roman', Times;
    margin: 0;
}

/*css for text*/
h1, p {
    margin: 0.15em;
}

article > h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#teens > h1 {
    font-size: 40px;
}

/*css for container*/
article {
    position: relative;
    color: white;
    font-size: 19px;
    text-align: justify;
    text-shadow: 0px 0px 10px rgb(13, 36, 63), 0px 0px 20px rgb(13, 36, 63);
    box-shadow: 0px 0px 20px rgba(33, 75, 133, 1);
    width: 35%;
    height: 230px;
    margin: 30px;
    padding: 12px;
    border: 2px solid white;
    border-radius: 25px;
    overflow: auto;
}

/*css for main container*/
#teens {
    width: 45%;
    height: 375px;
    float: none;
    clear: both;
    margin: auto;
    background-image: url(../images/teensHealth.jpg);
    background-position: bottom;
    background-size: cover;
}

/*positioning and background of webpage containers*/
#physical {
    float: left;
    background-image: url(../images/physicalHealth.jpg);
    background-position: top;
    background-size: cover;
}

#mental {
    float: right;
    background-image: url(../images/mentalHealth.jpg);
    background-position: center;
    background-size: cover;
}

#social {
    float: left;
    clear: left;
    background-image: url(../images/socialHealth.jpg);
    background-position: bottom;
    background-size: cover;
}

#spiritual {
    float: right;
    clear: right;
    background-image: url(../images/spiritualHealth.jpg);
    background-position: center;
    background-size: cover;
}