/*background*/
#main {
    background-image: url(../images/socialBackground.jpeg);
}

/*css for containers*/
article {
    height: 250px;
    border: 1px solid black;
    border-radius: 25px;
    margin: 30px;
    padding: 10px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.75);
    text-align: justify;
    overflow: auto;
}

article > h1 {
    text-align: center;
}

/*css for the fitt container width*/
.relevance {
    width: 60%;
}